footer{
    color: $white;
    background-color: $color-bg-footer;
    height: 197px;
    width: 100%;
    padding: 20px 25px;
    flex-shrink: 0;
    @include tablet{
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 20px 35px;
    }
    @include desktop{
        padding: 20px 100px;
    }
    h4{
        margin: 0;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 400;
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        font-weight: 400;
        font-size: 16px;
        @include tablet{
            display: flex;
            margin-right: 10px;
        }
        @include desktop{
            margin-right: 30px;
        }
        li{
            line-height: 1.7;
            @include tablet{
                margin-right: 30px;
            }
            @include desktop{
                margin-right: 50px;
            }
        }
    }
    
    .footer_iconline{
        @include txt-typography(location);
        display: flex;
        flex-direction: row;
    }
    a{
        text-decoration: none;
        color: $white;
    }
    .icon-width{
        width: 25px;
    }

    i{
        font-size: 13px;
    }
}

