footer{
    color: $white;
    background-color: $color-bg-footer;
    height: 197px;
    width: 100%;
    h4{
        margin: 0;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 400;
    }
}