.btn{
    display: flex;
    justify-content: center;
    &-order{
        @include btn;
        width: 50%;
        opacity: 1;
        transition: opacity 250ms;
        &:active{
            opacity: 0.8;
        }
    }
}