.btn{
    display: flex;
    justify-content: center;
    &-intro{
        width: 70%;
        margin-bottom: 20px;
    }
    &-order{
        width: 50%;
    }
    &-order,
    &-intro{
        @include btn;
        opacity: 1;
        transition: opacity 1450ms box-shadow 1450ms;
        &:active,
        &:hover{
            opacity: 0.8;
            box-shadow: $hover-btn-shadow darken($color-bg, 35%);
        }
    }
}