.btn{
    display: flex;
    justify-content: center;
    &-order,
    &-intro{
        @include btn;
        opacity: 1;
        transition: opacity 350ms, box-shadow 350ms;
        &:active,
        &:hover{
            opacity: 0.8;
            box-shadow: $hover-btn-shadow darken($color-bg, 35%);
        }
    }
    &-intro{
        width: 70%;
        margin-bottom: 20px;
        @include tablet{
            width: 29%;
            margin-bottom: 0;
        }
        @include desktop{
            width: 18%;
        }
    }
    &-order{
        width: 50%;
        @include tablet{
            width: 27%;
        }
    }
}