.heart{
    margin-left: 30px;
    width: 23px;
    height: 23px;
    position: relative;
    &_empty{
        position: absolute;
        z-index: 0;
    }
    &_full{
        position: absolute;
        z-index: 1; /*le coeur coloré est par-dessus pour couvrir les bordures noires du coeur vide*/
    }
    input[id]{ /*input[type="checkbox"]*/
        appearance: none; /*checkbox est invisible*/
        + label .heart_full{
                transform: scale(0);
                transition: transform 700ms ease-in-out;
        }
        &:checked + label .heart_full{
            transform: scale(1);
        }
    }
    label{
        display: flex;
        align-items: center;
    }
}