.image{
    height: 210px; /*appliquer une hauteur à la div plus petite que la hauteur de img permet à <section> de se positionner légèrement par-dessus img*/
    width: 100%;
    @include tablet{
        height: 300px;
    }
    @include desktop{
        height: 410px;
    }
    .img--center{
        height: 369px;
        object-position: 100% 100%;
        @include tablet{
            height: 440px;
            object-position: 100% 70%; /*positionne img du restau note enchantée au bon endroit sur tablette*/
        }
    }
    img{
    object-fit: cover;
    width: 100%;
        @include tablet{
            height: 440px;
            object-position: 100% 100%;
        }
    }
    img, .img--center{
        @include desktop{
            height: 550px;
            object-position: 100% 60%;
        }
    }
}
