*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $normal-txt;
}

.container{
    max-width: 1440px;
    margin: auto;
}

a{
    text-decoration: none;
    &:visited{
        color: $color-a;
    }
}
