*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $normal-txt;
}

.container{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: $white; /*cache le loader une fois l'animation finie*/
}

main{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /*display section menu au centre (visible sur desktop)*/
}

a{
    text-decoration: none;
    &:visited{
        color: $color-a;
    }
}