*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $normal-txt;
}

.container{
    margin: 0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    &:visited{
        color: $color-a;
    }
}

main{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
