.location{
    height: 50px;
    background-color: #EAEAEA;
    color: $color-txt;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px inset darken(#EAEAEA, 10%);
    p{
        @include txt-typography(location);
        .fa-location-dot{
            margin-right: 15px;
        }
    }
}

h2{
    @include txt-typography(home-h2);
    margin: 0;
    padding: 0 20px;
}

.intro{
    height: 290px;
    background-color: $color-bg;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    p{
        font-weight: 300;
        font-size: 18px;
        color: $color-txt;
    }
    &_btn{
        @include btn($explore-btn-shadow, 25%);
        width: 70%;
        padding: $btn-height 0;
        margin-bottom: 20px;
    }
}

.rstrnts{
    &_cardpadding{
        width: 100%;
        padding: 10px 20px;
    }
}
.card{
    width: 100%;
    height: 251px;
    @include card;
    img{
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }
}