@mixin txt-typography($typo){
    $typography: map-get($map: $txt-typography, $key: $typo);
    font-family: map-get($typography, font);
    font-weight: map-get($map: $typography, $key: weight);
    font-size: map-get($map: $typography, $key: size);
}

@mixin card ($shadow: $stepcard-shadow, $percent: 10%, $color: $white, $parent-bg-clr: $color-bg, $radius: 15px){
    background: $color;
    border-radius: $radius;
    box-shadow: $shadow darken($parent-bg-clr, $percent);
}

@mixin btn ($shadow: $order-btn-shadow, $percent: 35%){
    color: $white;
    border: none;
    @include card ($shadow, $percent, $color: $gradient, $radius: $btn-radius);
    @include txt-typography(button);
}