@mixin txt-typography($typo){
    $typography: map-get($map: $txt-typography, $key: $typo);
    font-family: map-get($typography, font);
    font-weight: map-get($typography, weight);
    font-size: map-get($map: $typography, $key: size);
}

@mixin card ($color: $white, $bg-clr: $white){
    background-color: $color;
    border-radius: 15px;
    box-shadow: 0px 4px 15px darken($bg-clr, 10%);
}