@mixin txt-typography($typo){
    $typography: map-get($map: $txt-typography, $key: $typo);
    font-family: map-get($typography, font);
    font-weight: map-get($map: $typography, $key: weight);
    font-size: map-get($map: $typography, $key: size);
}

@mixin card ($radius: 15px, $color: $white){ /*pour cartes restau par défaut, mais aussi cartes plats, .step et btn*/
    background: $color;
    border-radius: $radius;
}

@mixin btn (){
    color: $white;
    border: none;
    padding: $btn-height 0;
    box-shadow: $btn-shadow darken($color-bg, 25%);
    @include card ($color: $gradient, $radius: $btn-radius);
    @include txt-typography(button);
}

@mixin widget (){
    color: $color-new;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 2px;
    box-shadow: $widget-new-shadow darken($white, 15%);
    background-color: $color-tertiary;
}

@mixin tablet {
    @media screen and (min-device-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media all and (min-device-width: 992px){
        @content;
    }
}