$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-gradient ($color-secondary to $color-primary);
$white: #FFFF;
$color-bg: #D2D2D2;
$color-bg-footer: #353535;