$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);
$white: #FFFF;
$color-bg: #F6F6F6;
$color-bg-footer: #353535;

$color-txt: #353535;
$color-i-step: #7E7E7E; /*couleur icône dans div.step*/
$color-a: #0000;

$color-new: #008766; /*couleur texte du widget "Nouveau"*/
$widget-new-shadow: 0px 2px 2px;

$width-check: 59px; /*largeur coche verte*/
$height-cardcheck: 68px; /*hauteur carte des plats et coche verte*/

$step-radius: 20px;
$stepcard-shadow: 0px 4px 15px; /*ombre cartes restau et cartes plats*/

$btn-height: 15px;
$btn-radius: 25px;
$btn-shadow: 0px 4px 10px;
$hover-btn-shadow: 0px 4px 15px;

$normal-txt: 'Roboto', Arial, sans-serif;
$title-txt: 'Shrikhand', cursive;

$loader-dur: 2s; /*durée du loader*/
$container-delay: $loader-dur;

$txt-typography: (
    home-h2:(
        font: $normal-txt,
        weight: 700,
        size: 1.5rem,
    ),
    home-h3:(
        font: $normal-txt,
        weight: 700,
        size: 18px,
    ),
    button:(
        font: $normal-txt,
        weight: 500,
        size: 16px,
    ),
    step:(
        font: $normal-txt,
        weight: 500,
        size: 16px,
    ),
    location:(
        font: $normal-txt,
        weight: 500,
        size: 16px,
    ),
    menu-h1:(
        font: $title-txt,
        weight: 400,
        size: 28px,
    ),
    menu-h2:(
        font: $normal-txt,
        weight: 300,
        size: 16px,
    ),
    menu-h3:(
        font: $normal-txt,
        weight: 500,
        size: 18px,
    )
);